<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="NUnit" version="3.0.0-alpha" targetFramework="net40" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net40" />
  <package id="NUnitTestAdapter.WithFramework" version="1.2" targetFramework="net40" />
  <package id="Selenium.Support" version="2.44.0" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.44.0" targetFramework="net40" />
  <package id="WebDriver.IEDriverServer.win32" version="2.44" targetFramework="net40" />
  <package id="WebDriver.IEDriverServer.win64" version="2.44" targetFramework="net40" />
</packages>